/node_modules
/public/hot
/public/storage
/public/backend/dist
/public/backend/plugins
/storage/*.key
/vendor
/resources/views/backend/admin/service/addemp.blade.php
/resources/views/backend/admin/service/addemp.blade1.php
/resources/views/backend/admin/service/addemp.blade2.php
/resources/views/backend/admin/service/addemp.blade--.php
/resources/views/backend/agent/
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
