.ss_form-group {
  display: inline-block;
  margin-bottom: 15px;
}

.ss_form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}


.ss_form-group label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #0079bf;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}


.ss_form-group label {
  position: relative;
  cursor: pointer;
}

.ss_form-group input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #0079bf;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.date_active{
  background: #00a2b7;
  color: #fff;
}
.error{
  color: red;
}



.call_icon_sticky {
  position: fixed;
  bottom: 15px;
  right: 130px;
  cursor: pointer;
}
.call_icon_sticky {
  position: fixed;
  bottom: 15px;
  right: 1px;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  z-index: 99;
  background: var(--primary-clr);
  border-radius: 50px;
  padding: 6px 12px;
  box-shadow: 0px 0px 5px 0px #fff;
}
 
.call_icon_sticky>a {
  color: var(--primary-clr);
  text-decoration: none;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  outline: none;
}
pre {
  white-space: normal !important;
}
