         /* XX-Large devices (larger desktops, 1400px and up) */
         
         @media (min-width: 1920px) {
             .trialReportPhotoSection {
                 top: 144rem !important;
             }
             .women-overlap {
                 left: 17% !important;
                 top: 216rem !important;
             }
             .hipaIcons img {
                 top: 47rem !important;
                 width: 11%;
             }
             .appointment {
                 top: 26rem !important;
             }
             .yellowDoctor {
                 top: 54rem !important;
             }
         }
         
         @media (min-width: 1867px)and (max-width:1919px) {
             .trialReportPhotoSection {
                 top: 144rem !important;
             }
             .women-overlap {
                 left: 17% !important;
                 top: 215rem !important;
             }
             .hipaIcons img {
                 top: 47rem !important;
                 width: 11%;
             }
             .appointment {
                 top: 26rem !important;
             }
             .yellowDoctor {
                 top: 54rem !important;
             }
         }
         
         @media (min-width: 1801px)and (max-width:1866px) {
             .hipaIcons img {
                 top: 42rem !important;
                 width: 13%;
             }
             .yellowDoctor {
                 top: 52rem !important;
             }
             .trialReportPhotoSection {
                 top: 141rem !important;
             }
             .women-overlap {
                 left: 15% !important;
                 top: 212rem !important;
             }
         }
         
         @media (min-width: 1700px) and (max-width:1800px) {
             .hipaIcons img {
                 top: 44rem !important;
                 width: 12%;
             }
             .appointment {
                 top: 23rem !important;
             }
             .yellowDoctor {
                 top: 52rem !important;
             }
             .trialReportPhotoSection {
                 top: 139.681rem !important;
             }
             .women-overlap {
                 left: 15% !important;
                 top: 210rem !important;
             }
         }
         
         @media (min-width: 1601px) {
             .mobileNavigation {
                 display: none;
             }
             .mainBanner {
                 max-width: 120rem;
             }
             .appointment {
                 height: 18rem;
                 top: 20rem;
             }
             .hipaIcons img {
                 top: 41rem;
                 width: 13%;
             }
             .yellowDoctor {
                 background-size: 100%;
                 height: 29rem;
                 left: 67%;
                 width: 25%;
                 top: 49rem;
             }
             .servicesText {
                 padding: 27% 11% 21% 13%;
             }
             .trialReportPhotoSection {
                 top: 135.681rem
             }
             .phychaitrists {
                 height: 32.5rem;
             }
             .happy-women {
                 margin-top: -21%;
             }
             .women-overlap {
                 width: 25rem;
                 height: 14rem;
                 left: 12%;
                 top: 205rem;
                 padding: 1%;
             }
             .habbit-text {
                 height: 19.8rem;
             }
             .floatViewBtn {
                 top: 21rem;
             }
             .newsSectionRight form input[type="text"] {
                 width: 25.5rem;
             }
             .footerPhoto {
                 height: 22rem;
             }
         }
         
         @media (max-width: 1600px) {
             .mobileNavigation {
                 display: none;
             }
             .appointment {
                 top: 22rem;
                 padding-left: 3%;
             }
             .hipaIcons img {
                 top: 40rem;
                 width: 12%;
             }
             .yellowDoctor {
                 background-size: 75%;
                 top: 47rem;
             }
             .servicesText p {
                 font-size: 1.2rem;
             }
             .servicesText h4 {
                 font-weight: bold;
             }
             .trialReportPhotoSection {
                 top: 132.7rem;
             }
             .phychaitrists {
                 height: 32.5rem;
             }
             .happy-women {
                 margin-top: -21.5%;
             }
             .phychaitrists p {
                 font-size: 0.9rem;
             }
             .phychaitrists .btn {
                 font-size: 1.2rem;
             }
             .women-overlap {
                 top: 205rem;
             }
             .habbit-text {
                 font-size: 2rem;
                 line-height: 2.2rem;
                 height: 19.7rem;
             }
             .newsSectionRight form input[type="text"] {
                 width: 26rem;
             }
             .footerPhoto {
                 height: 21.6rem;
             }
             .callDetail h5 {
                 font-weight: bold;
             }
             .border-left {
                 margin-top: 1%;
             }
             .floatViewBtn {
                 top: 20.5rem;
             }
         }
         
         @media (max-width: 1545px) {
             .yellowDoctor {
                 top: 46rem;
             }
             .trialReportPhotoSection {
                 top: 131rem;
             }
             .hipaIcons img {
                 width: 11%;
             }
         }
         
         @media (max-width: 1535px) {
             .women-overlap {
                 top: 203rem;
                 left: 8rem;
             }
             .appointment {
                 top: 21rem;
             }
             .hipaIcons img {
                 top: 66%;
             }
         }
         
         @media (max-width: 1514px) {
             .hipaIcons img {
                 top: 38rem;
                 width: 12%;
             }
         }
         
         @media (max-width: 1500px) {
             .women-overlap {
                 top: 202rem;
                 left: 6.5rem;
             }
             .appointment {
                 top: 20rem;
             }
             .trialReportPhotoSection {
                 top: 130rem;
             }
         }
         
         @media (max-width: 1477px) {
             .trialReportPhotoSection {
                 top: 129.1rem;
             }
             .yellowDoctor {
                 top: 44rem;
                 background-size: contain;
                 height: 26rem;
             }
             .appointment {
                 top: 19rem;
             }
             .hipaIcons img {
                 top: 37rem;
             }
         }
         
         @media (max-width: 1452px) {
             .hipaIcons img {
                 top: 36rem;
             }
             .yellowDoctor {
                 top: 42rem;
             }
             .appointment {
                 top: 19rem;
             }
             .trialReportPhotoSection {
                 top: 128.1rem;
             }
         }
         
         @media (max-width: 1400px) {
             .mobileNavigation {
                 display: none;
             }
             .servicesText {
                 background-color: var(--Grey);
                 padding: 22% 11% 21% 13%;
             }
             .trialReportPhotoSection {
                 top: 126.6rem;
             }
             .blueHorizontal {
                 height: 31rem;
             }
             .women-overlap {
                 left: 5%;
                 top: 197rem;
             }
             .habbit-text {
                 height: 19.7rem;
             }
             .newsSectionRight form button {
                 margin-left: 10%;
             }
             .footerPhoto {
                 height: 22rem;
             }
             .newsSectionRight form input[type="text"] {
                 width: 24rem;
             }
             .phychaitrists p {
                 font-size: 0.8rem;
             }
         }
         
         @media (max-width: 1399px) {
             .servicesText {
                 padding: 17% 11% 21% 13%;
             }
             .trialReportPhotoSection {
                 top: 122rem;
             }
             .happy-women {
                 margin-top: -25%;
             }
             .blueHorizontal {
                 height: 32.5rem;
             }
             .floatViewBtn {
                 top: 18rem;
             }
             .women-overlap {
                 left: 11%;
                 top: 192rem;
             }
             .habbit-text {
                 font-size: 1.5rem;
                 line-height: 2rem;
                 height: 17rem;
             }
             .newsSectionRight form input[type="text"] {
                 width: 22.5rem;
             }
         }
         
         @media (max-width: 1397px) {
             .trialReportPhotoSection {
                 top: 121.1rem;
             }
             .women-overlap {
                 left: 11%;
                 top: 192rem;
             }
             .blueHorizontal {
                 height: 32.5rem;
             }
             .habbit-text {
                 height: 17rem;
             }
             .newsSectionRight form button {
                 margin-left: 19%;
             }
             .newsSectionRight form input[type="text"] {
                 width: 24rem;
             }
         }
         
         @media (max-width: 1382px) {
             .appointment {
                 top: 18rem;
             }
             .hipaIcons img {
                 top: 35rem;
                 width: 13%;
             }
         }
         
         @media (max-width: 1345px) {
             .appointment {
                 top: 17rem;
             }
             .hipaIcons img {
                 top: 34rem;
                 width: 14%;
             }
             .women-overlap {
                 left: 9.5%;
                 top: 191rem;
             }
             .trialReportPhotoSection {
                 top: 120.1rem;
             }
         }
         
         @media (max-width: 1334px) {
             .yellowDoctor {
                 top: 39rem;
                 height: 29rem;
             }
         }
         
         @media (max-width: 1315px) {
             .appointment {
                 top: 16rem;
             }
             .hipaIcons img {
                 top: 33rem;
             }
         }
         
         @media (max-width: 1300px) {
             .trialReportPhotoSection {
                 top: 119.1rem;
             }
             .women-overlap {
                 width: 25rem;
                 left: 7.5%;
                 top: 189rem;
                 padding: 1%;
             }
         }
         
         @media (max-width: 1255px) {
             .women-overlap {
                 height: 10rem;
                 font-size: 2.5rem;
                 width: 22rem;
                 left: 5.5%;
                 top: 187rem;
             }
             .trialReportPhotoSection {
                 top: 118.1rem;
             }
             .yellowDoctor {
                 top: 37rem;
             }
             .appointment {
                 top: 14rem;
             }
             .hipaIcons img {
                 top: 31.5rem;
                 left: 4%;
             }
         }
         /* X-Large devices (large desktops, 1200px and up) */
         
         @media (max-width: 1224px) {
             /*  Header Section starts here  */
             .services {
                 width: 18% !important;
             }
             .navbar-nav li {
                 width: 10%;
             }
             .counsellor {
                 width: 14% !important;
             }
             .login a img {
                 width: 28%;
             }
             .logo img {
                 margin-left: 23%;
             }
             .yellowDoctor {
                 top: 36rem;
                 width: 39%;
             }
         }
         
         @media (max-width: 1199px) {
             .servicesText {
                 padding: 4.8% 11% 14.5% 13%;
             }
             .happy-women {
                 margin-top: -7%;
                 height: 35rem;
             }
             .women-overlap {
                 font-size: 2.4rem;
                 width: 21rem;
                 left: 11.5%;
                 top: 182rem;
             }
             .yellowDoctor {
                 top: 35rem;
             }
             .blueHorizontal {
                 height: 33rem;
             }
             .habbit-text {
                 height: 14.3rem;
             }
             .floatViewBtn {
                 top: 15.5rem;
             }
             .newsSectionRight form input[type="text"] {
                 width: 20rem;
             }
             .newsSectionRight form button {
                 margin-left: 5%;
             }
             .footerPhoto {
                 height: 21rem;
             }
             .trialReportPhotoSection {
                 top: 112.5rem;
             }
         }
         
         @media (max-width: 1186px) {
             .appointment {
                 top: 13rem;
             }
             .hipaIcons img {
                 top: 30rem;
             }
             .counsellor {
                 width: 15% !important;
             }
             .yellowDoctor {
                 top: 34.5rem;
                 width: 38%;
                 left: 60%;
             }
             .blueHorizontal {
                 height: 33.96rem;
             }
             .happy-women {
                 height: 35.4rem;
                 margin-top: -5%;
             }
             .habbit-text {
                 height: 14.12rem;
             }
             .newsSectionLeft {
                 font-size: 1.3rem;
             }
             .newsSectionRight form input[type="text"] {
                 width: 20.1rem;
             }
             .newsSectionRight form button {
                 margin-left: 7%;
             }
             .follow_us img {
                 width: 67%;
             }
         }
         
         @media (max-width: 1140px) {
             .appointment {
                 height: 215px;
                 padding-top: 3%;
             }
             .hipaIcons img {
                 top: 28.5rem;
             }
             .women-overlap {
                 left: 10.5%;
                 font-size: 2.3rem;
                 width: 20rem;
                 top: 181rem;
             }
         }
         
         @media (max-width: 1103px) {
             .counsellor {
                 width: 16% !important;
             }
             .hipaIcons img {
                 top: 28rem;
             }
             .women-overlap {
                 top: 179rem;
                 left: 9%;
             }
             .trialReportPhotoSection {
                 top: 111rem;
             }
         }
         /* Large devices (desktops, 992px and up) */
         
         @media (max-width: 1060px) {
             .women-overlap {
                 left: 7%;
             }
             .yellowDoctor {
                 top: 32.5rem;
             }
         }
         
         @media (max-width: 1043px) {
             .women-overlap {
                 left: 5%;
             }
             .counsellor {
                 width: 17% !important;
             }
             .hipaIcons img {
                 top: 27rem;
             }
             .appointment {
                 top: 12rem;
             }
             .servicesLabel span {
                 margin: 15% 0;
             }
             .trialReportPhotoSection {
                 top: 107rem;
             }
         }
         
         @media (max-width: 1010px) {
             .women-overlap {
                 left: 4%;
                 top: 177rem;
             }
         }