.dropbtn {
    background-color: var(--deepBlue);
    color: white;
    padding: 8px 17px 8px 17px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-top: 9%;
}

.dropbtn i {
    color: var(--gold);
}

#menu .dropdown {
    float: none;
    display: block;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: -2%;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: var(--deepBlue);
}

@media screen and (max-width: 640px) {
    .appointment-labels {
        width: 2.5rem !important;
        top: 2%;
        height: 2rem;
        left: -1.5rem;
        /* display: inline-block; */
    }
    .ribbon6 {
        height: 105px !important;
        line-height: 31px !important;
        top: 23px !important;
        padding: 4%;
    }
    .ui-tabs .ui-tabs-nav li {
        width: 100%;
    }
    .singleSlot {
        margin-bottom: 7%;
    }
    .appointmentConfirmPage .appointment-columns {
        height: 49rem !important;
    }
    .thanksTest {
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    }
}

@media screen and (max-width: 540px) {
    .doctorEdit .appointment-columns {
        height: auto !important;
    }
    .appointment-footer i {
        margin-top: 8% !important;
    }
    .all-appoint {
        margin-bottom: -0.65rem !important;
        border-bottom: none !important;
    }
}

@media screen and (max-width: 768px) {
    .all-appoint-patient {
        margin-bottom: 22.9rem !important;
    }
    .backShadowright {
        display: none;
    }
    .thanksTest h2 {
        text-align: center;
        margin-bottom: 10%;
        line-height: 160px !important;
    }
    .ui-tabs .ui-tabs-nav li {
        width: 100%;
    }
    .ribbon6 {
        height: 87px !important;
        line-height: 38px !important;
    }
    .singleSlot {
        padding: 3% !important;
    }
    .appoint_health h3 {
        line-height: 2rem !important;
        font-size: 1.8rem !important;
    }
    .ui-tabs .ui-tabs-panel {
        padding: 1em 0.4em !important;
    }
    .appointment-labels {
        width: 3rem !important;
        top: 2%;
        height: 2.3rem;
        display: inline-block;
    }
    .appointment-labels i {
        vertical-align: bottom;
    }
    .appointment-labels:nth-child(3) {
        margin-top: 2.65rem;
    }
    .doctorEdit .appointment-labels:nth-child(7) {
        top: 1%;
    }
    .doctorEdit .appointment-labels:nth-child(8) {
        top: 1%;
    }
}

@media screen and (min-width: 1024px) {
    .doctorEdit .appointment-labels:nth-child(10) {
        top: 4.5%;
    }
    .doctorEdit .appointment-labels:nth-child(11) {
        top: 4.5%;
    }
}

@media screen and (min-width: 1080px) {
    .appointment-labels {
        width: 5rem !important;
        top: 0.5%;
    }
    .appointment-labels i {
        vertical-align: middle;
    }
    .doctorEdit .appointment-labels:nth-child(7) {
        top: -1%;
    }
    .doctorEdit .appointment-labels:nth-child(8) {
        top: -1%;
    }
    .doctorEdit .appointment-labels:nth-child(10) {
        top: 0%;
    }
    .doctorEdit .appointment-labels:nth-child(11) {
        top: 0%;
    }
}

@media screen and (min-width: 1366px) {
    .doctorEdit .appointment-labels:nth-child(7) {
        top: 0%;
    }
    .doctorEdit .appointment-labels:nth-child(8) {
        top: 0%;
    }
    .doctorEdit .appointment-labels:nth-child(10) {
        top: 1%;
    }
    .doctorEdit .appointment-labels:nth-child(11) {
        top: 1%;
    }
}

@media screen and (min-width: 1440px) {
    .doctorEdit .appointment-labels:nth-child(7) {
        top: -1%;
    }
    .doctorEdit .appointment-labels:nth-child(8) {
        top: -1%;
    }
    .doctorEdit .appointment-labels:nth-child(10) {
        top: 0%;
    }
    .doctorEdit .appointment-labels:nth-child(11) {
        top: 0%;
    }
}

@media screen and (min-width: 1920px) {
    .doctorEdit .appointment-labels:nth-child(7) {
        top: -2.5%;
    }
    .doctorEdit .appointment-labels:nth-child(8) {
        top: -2.5%;
    }
    .doctorEdit .appointment-labels:nth-child(10) {
        top: -1.5%;
    }
    .doctorEdit .appointment-labels:nth-child(11) {
        top: -1.5%;
    }
}